
@media only screen and (max-width:795px){



    #navbar{

        display: flex;
        flex-direction: column;
    }

.navbar-res{
    display: flex;
    flex-direction: column;
    padding: 32px 0;
    padding-top: 14px;
    height: 340px;
    transition-property: all;
    transition-duration: 0.5s;
    transition-timing-function: ease-out;

}

.barger{
    
    visibility: visible;
    position: absolute;
    right: 20px;
    

}

.leftnav{
   
    flex-direction: column;

}
.rightnav{
    
   
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
     margin-right: 0px;

}

.rightnav #nav-input {
    width: 110px;
}

.leftnav ul{
   
    flex-direction: column;

}

.leftnav ul li {
    margin: 13px;
}

.nav-res{
    height: 52px;
}

.leftnav-res{
    opacity: 0;

}
.rightnav-res{

    opacity: 0;

}

.home{
    display: flex;
    flex-direction: column-reverse;
}

.img-div img{

    height: 150px;
    margin-bottom: 20px;
}

.h-btn{
    width: 75px;
}
.big-text{
 
    font-size: 18px;
}

.small-text{

    font-size: 16px;

}

.content{
    flex-wrap: wrap;
    flex-direction: column-reverse;
    text-align: justify;
}

#content-box2{

     flex-direction: column-reverse;
    
}

.content-text {
margin-right: 0px;

}

#content-text2 {
    margin-left: 0px; 
    
    
    }

    .images img{

        margin-bottom: 20px;
    }

}